/**
 * @version = $AUTO_VERSION
 * @author  = Xuan Ngo
 */

table
{
	border-collapse:collapse;
}
table,th, td
{
	border: 1px solid gray;
}

/* Top of cell and bold. */
.time-scale
{
	/*Text*/
	font-size: xx-small;
	font-weight: bold;
	vertical-align: super;
}

td.time-scale, td.no-event
{
	/*Border*/
	border-style: dotted;
	border-color: gray;
}

td.event
{
	background-color: #D3D3D3;
	text-align: center;
}

input.column-input-header
{
	width: 95%;
	text-align: right;
	font-weight: bold;
}