/**
 * @version = $AUTO_VERSION
 * @author  = Xuan Ngo
 */


/* CSS customization no related to the timesheet itself */
/********************************************************/
body
{
  font-family: Verdana,sans-serif;
  background-color: rgb(232, 242, 254);
}

h1
{
  background-color: #008AB8;
  color: white;
  text-align: center;
}

dl > dt
{
	font-weight: bold;
}

.step-label
{
  background-color: #279B61;
  color: white;
}

/** Structure layout **/
/**********************/
div#steps
{
	margin-left: 5em;
	margin-right: 5em;
  padding: 1em;
  
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}


table#input-table > tbody > tr > th
{
	text-align: right;
}

div.content-results
{
	 margin-left: 5em;
}

div.action
{
	margin-left: 1em;
}